In [4]:
import pandas as pd
import numpy as np

# Crear un DataFrame de ejemplo
data = {'Edad': [22, 45, 67, 32, 41, 50, 28, 36, 57, 32]}
df = pd.DataFrame(data)
df

   Edad
0    22
1    45
2    67
3    32
4    41
5    50
6    28
7    36
8    57
9    32

In [6]:
# Definir los intervalos (bins)
bins = [20, 30, 40, 50, 60, 70]

# Definir las etiquetas para los intervalos
labels = ['20-29', '30-39', '40-49', '50-59', '60-69']

# Aplicar pd.cut para asignar cada valor a un intervalo
df['Grupo de Edad'] = pd.cut(df['Edad'], bins=bins, labels=labels, right=False)

# Mostrar el DataFrame resultante
print(df)

   Edad Grupo de Edad
0    22         20-29
1    45         40-49
2    67         60-69
3    32         30-39
4    41         40-49
5    50         50-59
6    28         20-29
7    36         30-39
8    57         50-59
9    32         30-39